<div>
  <div>
      <iframe width="100%" height="315" [src]="sanitizer.bypassSecurityTrustResourceUrl(video.url.replace('watch?v=', 'embed/'))" frameborder="0" allowfullscreen></iframe>  
</div>
  <form>
    <div *ngIf="editTitle" class="form-group">
      <input type="input" class="form-control" name="title" required placeholder="Title" [(ngModel)]="video.title">
    </div>
    <h3 *ngIf="!editTitle" (click)="onTitleClick()">{{video.title}}</h3>
    <div *ngIf="editUrl" class="form-group">
      <input type="input" class="form-control" name="url" required placeholder="Url" [(ngModel)]="video.url">
    </div>
    <h4 class="text-danger" *ngIf="!editUrl" (click)="onUrlClick()">{{video.url}}</h4>
    <div  *ngIf="editDesc" class="form-group">
      <textarea class="form-control" rows="5" name="desc" [(ngModel)]="video.discription"></textarea>
    </div>
    <h5 *ngIf="!editDesc" (click)="onDescClick()">{{video.discription}}</h5>
    <hr />
    <h6>*Click on text for edting respective texts</h6>
    <button type="button" (click)="updateVideo()" class="btn btn-outline-primary btn-round">Update</button>
    <button type="button" (click)="deleteVideo()" class="btn btn-outline-danger btn-round">Delete</button>

  </form>
</div>