<div class="wrapper">
    <div class="main">
          <div class="section section-dark section-nucleo-icons">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-6 col-md-12">
                          <h2 class="title">Youtube Playlist</h2><br/>
                          <p class="description">
                              Keep a personal record for your favourite youtube videos. Keep it simple and quiet.
                          </p><br/>
                          <a routerLink="/videos" routterLinkActive="active" class="btn btn-danger btn-round">View Videos</a>
                          <a href="https://youtube.com" class="btn btn-outline-danger btn-round" target="_blank">Youtube</a>
                      </div>

                      <div class="col-lg-6 col-md-12">
                          <div class="icons-container">
                              <i class="nc-icon nc-time-alarm"></i>
                              <i class="nc-icon nc-atom"></i>
                              <i class="nc-icon nc-camera-compact"></i>
                              <i class="nc-icon nc-watch-time"></i>
                              <i class="nc-icon nc-key-25"></i>
                              <i class="nc-icon nc-diamond"></i>
                              <i class="nc-icon nc-user-run"></i>
                              <i class="nc-icon nc-layout-11"></i>
                              <i class="nc-icon nc-badge"></i>
                              <i class="nc-icon nc-bulb-63"></i>
                              <i class="nc-icon nc-favourite-28"></i>
                              <i class="nc-icon nc-planet"></i>
                              <i class="nc-icon nc-tie-bow"></i>
                              <i class="nc-icon nc-zoom-split"></i>
                              <i class="nc-icon nc-cloud-download-93"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>